body {
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: blueviolet;
    font-size: 18px;
}
h1, h2 {
    color: brown;
    text-align: center;
}
div {
    background-color: aliceblue;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
}
.info {
    color: blue;
    background-color: lightblue;
    display: inline
}
.warning {
    color: red;
    background-color: lightcoral;
}
p:last-child {
    color: purple;
}